/* body {
    background-color: #f8f9fa;
} */

/* main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.addproduct{
    margin-inline-start: 30em;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
textarea,
input[type="file"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.alert {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/* Thêm vào phần CSS của bạn hoặc tạo một file CSS riêng */
.view-details {
    display: inline-block;
    background-color: #4CAF50; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 10px 20px; /* Độ lớn của nút */
    text-decoration: none;
    border-radius: 5px; /* Bo tròn góc */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */

}

.view-details:hover {
    background-color: #45a049; /* Màu nền khi di chuột qua */
}

#selectProduct{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}