.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.main-content {
    background-color: #ffffff;
    padding: 30px 0;
}

.beta-products-list {
    padding: 2em 0;
}

.beta-products-list h4 {
    color: #ff6600;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.beta-products-details {
    font-size: 1.1em;
    color: #333333;
    margin-bottom: 20px;
}

.beta-products-details p {
    margin: 0;
}

.single-item {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
}

.single-item-header {
    text-align: center;
}

.single-item-header img {
    max-width: 100%;
    height: auto;
    height: 200px;
}

.single-item-body {
    padding: 15px 0;
    height: 150px;
}

.single-item-title {
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.single-item-price {
    color: #ff6600;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.single-item-price .flash-del {
    color: #333333;
    text-decoration: line-through;
}

.single-item-price .flash-sale {
    color: #ff6600;
}

.single-item-caption {
    text-align: center;
    padding: 15px 0;
}

.single-item-caption a {
    color: #ff6600;
    font-size: 1.1em;
    font-weight: bold;
    text-decoration: none;
}

.single-item-caption a:hover {
    color: #cc0000;
}

text{
    margin: 0 5px;
}